body
  font-family: monospace
  font-size: 67.5%
  background-color: #eee

h1
  font-size: 2em
  color: hotpink
  width: 100%
  text-align: center

canvas
  border: 1px solid hotpink
  background-color: white
  padding: 0
  margin: auto
  display: block
